.app {
  border: 1px solid gainsboro;
  width: 500px;
  min-height: 400px;
  padding: 10px;
}

.app input[type='text'] {
  outline: 0;
  border: 0;
  border-bottom: 1px solid gainsboro;
  width: 400px;
  height: 30px;
  font-size: 16px;
  padding: 0 5px;
  margin: 5px;
}

.app input[type='text']::placeholder {
  font-size: 14px;
}

.app button:hover {
  cursor: pointer;
  background-color: darkseagreen
}

.todoArr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoArr button {
  border: 1px solid darkseagreen;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  outline: 0;
  font-size: 20px;
  color: forestgreen;
}
